* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: hsl(229, 7%, 55%);
  background-image: url("../images/bg-mobile.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main {
  width: 90%;
  margin: 5em auto;
  .components {
    background-color: hsl(228, 56%, 26%);
    margin-bottom: 2em;
    width: auto;
    padding: 2em 3em 2em 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  .data {
    color: white;
    background-color: hsl(228, 56%, 26%);
    position: relative;
    padding: 2em 2em 3em;
    margin: 2em auto;
    width: auto;
    border-radius: 1em;
    label {
      p {
        font-weight: 100;
      }
    }
    progress {
      width: 100%;
      background-color: transparent;
    }
    progress::-webkit-progress-bar {
      border-radius: 2em;
      position: relative;
    }
    progress::-webkit-progress-value {
      border-radius: 2em;
      background-image: -webkit-linear-gradient(
        left,
        hsl(335, 100%, 65%),
        hsl(6, 100%, 80%)
      );
    }

    .progress {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #min {
        margin-right: auto;
      }
      #max {
        margin-left: auto;
      }
    }
    .pop {
      visibility: hidden;
      position: absolute;
      right: 5em;
      background-color: white;
      // width: 50%;
      min-width: 4em;
      height: auto;
      padding: 1em;
      border-radius: 1em;
      color: hsl(229, 57%, 11%);
      text-transform: uppercase;
      #bal {
        font-size: 3em;
        margin-right: auto;
      }
    }
  }
  .data:hover .pop {
    visibility: visible;
  }
}

.logo {
  margin-bottom: 2em;
}
.image {
  padding: 0.7em;
  background-color: hsl(229, 57%, 11%);
  height: 3em;
  width: 3em;
  border-radius: 0.5em;
  margin: 0 0.5em;
}
.bold {
  font-weight: 700;
}
.col-sm-12 {
  width: 100%;
}

@media screen and (min-width: 376px) {
  html {
    background-image: url("../images/bg-desktop.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    background-color: hsl(229, 57%, 11%);
    body {
      margin: 15em 0 auto;
    }
  }
  main {
    display: flex;
    justify-content: space-between;
    width: 70%;
    .col-md-4 {
      width: 35%;
    }
    .col-md-8 {
      width: 55%;
    }
    .data {
      .pop {
        bottom: 75%;
        right: 2em;
        margin: 0;
        border-bottom-right-radius: 0;
      }
      .pop::after {
        content: "";
        position: absolute;
        top: 75%;
        right: 0;
        margin-left: -5px;
        border: 20px solid;
        border-color: transparent white transparent transparent;
      }
    }
  }
}
